.navbar-brand img {
    width: 60%;
}

.bg-blue {
    background-color: #2D3538;
}

.bisque {
    color: white;
}

.font-size-20px {
    font-size: 24px;
}

.w-h-200 {
    height: 300px;
    width: 200px;
}

.choclate {
    color: black;
}

.h-600 {
    height: 600px;
}

.objectfit {
    object-fit: contain;
}

.h-200 {
    height: 250px;
}

.bg-cards {
    background-image: url("../images/bg-1.jpg");
}

.opacity {
    opacity: 0.8;
}

.btn-primary {
    background-color: #2D3538 !important;
    border-color: #2D3538 !important;
}

.w-10 {
    width: 10% !important;
}

.h-100 {
    height: 100px;
}

.h-200 {
    height: 200px;
}

.font-size-15 {
    font-size: 1.5rem;
    font-weight: 400;
}

.f-c {
    flex-direction: column;
}

.col-1 {
    max-width: 100% !important;
}

.border-radius-20 {
    border-radius: 20px !important;
}

.bg-sale {
    background-image: url("../images/bg-2.jpg");
    background-size: cover;
}

.sale-price-b {
    border: 3px solid darkkhaki;
}

.bg-brand {
    background-image: url("../images/bg-3.jpg");
    background-size: cover;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: white;
    text-decoration: none;
}

.white {
    color: white;
}

.bg-footer {
    background-image: url("../images/bg-4.jpg");
    background-size: cover;
}